
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}




.koszyk {
    width: 90%;
    max-width: 900px;
    padding: 25px;
    background-color: #2a2a2a;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.koszyk .kh1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.kprzyciski {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.kprzyciski button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #008802;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.kprzyciski button:hover {
    background-color: #009f03;
}
.koszyk .kh2 {
    margin-top: 20px;
    font-size: 22px;
}

.ktable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #3a3a3a;
    border-radius: 8px;
    overflow: hidden;
}

.kth, .ktd {
    padding: 16px;
    text-align: center;
}

.kth {
    background-color: #444;
    color: #f1f1f1;
    font-size: 18px;
}

.ktd {
    color: #bbbbbb;
    font-size: 16px;
    border-bottom: 1px solid #555;
}

.kprzyciski-dol {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.kprzyciski-dol button {
    padding: 12px 16px;
    font-size: 16px;
    background-color: #008802;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
}

.kprzyciski-dol button:hover {
    background-color: #009f03;
}